<h1>Did I pass?</h1>

<div class="col-10 offset-1">
  <h2>About This Page</h2>

  <div class="col-10 offset-1">
    <p>
     This is a page I built for my coding bootcamp Quiz #1.  This is one of the hardest classes/courses I've taken in my life next to Astronomy (which I barely passed and Russian Civilzation, which I dropped at the last day of drop/add.) However, it's been a ton of fun and I can't wait to keep going!
    </p>
  </div>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
<%= image_tag 'study.jpg', :size => "500x300" %>
</div>

<div class="booyah-box col-10 offset-1">
<h3>What was the hardest class you have ever taken?</h3>
  <%= simple_form_for @degree do |f| %>  
  <%= render user.degrees %>
  <%= f.input :classname %>
  <%= f.submit 'Create' %>
<% end %>